*,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(images/people.jpg);
    height: 100vh;
    background-size: cover;
    
    

}

header{
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 1em;
}


.form{
    max-width:  22em;   
   
    margin-right: 1.5em;
    margin-top: 1.5em;
}

p{
    margin-bottom: 13px;
    font-size: 21px;
}

h2{
    font-size: 23px;
    margin-bottom: 13px;
}

.btn{
    background-color: #48C5CE;
    color: white;
   
}

form{
    background-color: #FFFFFFBB;
    padding: 1em;
}

input, select{
    height: 3em;
    margin-bottom: 7px;
    width: 100%;
}

.pfim{
    color: white;
    
}

h3{
    margin-bottom: 1em;
    color: white;
    font-size: 30px;
}

.rodapé{
    background-color: #202121;
    display: flex;
    justify-content: center;
    padding: 3em;
}


.texto{
    width: 27em;
    margin-left: 3em;
    margin-top: 4.3em;
    
}

img{
    max-width: 22em;
    height: 21em;
 
}

@media(max-width: 500px){
  .rodapé{
      display: flex;
      flex-direction: column;
  }

  .texto{
      width: 100%;
      margin-left: 0;
      
  }
}